---
import Menu from '../components/Menu.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="container flex scroll-smooth flex-col min-h-screen bg-gradient-to-br from-blue-200 via-blue-100 to-blue-50 animate-fade-in">
    <Menu />
    <Header />
    <div class="container mx-auto px-4 py-10 bg-white/70 shadow-2xl backdrop-blur-md animate-fade-in-up">
      <AboutMe />
      <Contact />
    </div>
    <Footer />
  </div>
</Layout>
