---
const {img, title} = Astro.props;
---

<div class="flex justify-center items-center w-[20vw] flex-col hover:scale-105 transition-all">
    <div class="w-full rounded-t-lg">
        <img src={img} alt={title} class="rounded-t-lg">
    </div>
    <div class="p-4 text-2sm bg-[#000f00a8] backdrop-blur-md border rounded-b-lg w-full h-[60px] text-center">
        <h2>{title}</h2>
    </div>
</div>
