---
---

<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-md" id="Contact">
    <div>
        <h1 class="text-3xl font-bold mb-4 text-gray-800">Contact Me! 👀</h1>
        <p class="text-gray-600">If you want to contact me, you can send me an email to 
            <a href="mailto:joshuapenacemas@gmail.com" class="text-blue-600 hover:text-blue-800">
                joshuapenacemas@gmail.com.
            </a>
        </p>
    </div>
</div>