---
---
<footer class="fixed bottom-0 left-0 w-full py-8 bg-gray-100">
    <div class="social flex justify-center gap-6 mb-4">
        <div class="container-link hover:transform hover:scale-125 transition-transform">
            <a href="https://www.facebook.com/profile.php?id=61554672177047" target="_blank" rel="noopener noreferrer">
                <img src="https://i.postimg.cc/521hqPLb/status-15047667.png" alt="Facebook" class="w-12 h-12" />
            </a>
        </div>
        <div class="container-link hover:transform hover:scale-125 transition-transform">
            <a href="https://www.instagram.com/joshua.epr/" target="_blank" rel="noopener noreferrer">
                <img src="https://i.postimg.cc/cCvxWFTV/instagram-779093.png" alt="Instagram" class="w-12 h-12" />
            </a>
        </div>
        <div class="container-link hover:transform hover:scale-125 transition-transform">
            <a href="https://www.linkedin.com/in/joshuaemilrosario" target="_blank" rel="noopener noreferrer">
                <img src="https://i.postimg.cc/vBWjVfTc/linkedin-2335321.png" alt="LinkedIn" class="w-12 h-12" />
            </a>
        </div>
        <div class="container-link hover:transform hover:scale-125 transition-transform">
            <a href="https://github.com/Joshua-EPR" class="github" target="_blank" rel="noopener noreferrer">
                <img src="https://i.postimg.cc/FK42pTSh/github-11376446.png" alt="GitHub" class="w-12 h-12">
            </a>
        </div>
    </div>
    <p class="text-center text-gray-600 mb-1">
        <span>Mi E-mail:</span>
        <a href="mailto:joshuapenacemas@gmail.com" class="text-blue-600 hover:text-blue-800">joshuapenacemas@gmail.com</a>
    </p>
</footer>