---
---

<div class="container mx-auto h-screen flex justify-center items-center flex-col px-4 py-20 mt-14 bg-gradient-to-br from-blue-900/30 via-blue-700/30 to-blue-500/30 shadow-2xl animate-fade-in-up relative overflow-hidden" style="background-image: url('https://i.imgur.com/r9lMKuV.jpeg'); background-size: cover; background-position: center; background-attachment: fixed;">
    <div class="absolute inset-0 bg-blue-900/60 bg-gradient-to-br from-blue-900/60 via-blue-900/60 to-blue-900/60 pointer-events-none"></div>
    <div class="relative z-10 flex flex-col items-center">
        <h1 class="text-5xl font-extrabold text-white text-center drop-shadow-lg animate-gradient-x">¡Bienvenido a mi portafolio!</h1>
        <p class="text-center text-white mt-6 text-xl animate-fade-in-up">Soy Joshua Emil Peña Rosario, desarrollador web de República Dominicana.<br>Explora, haz clic y diviértete descubriendo mi trabajo.</p>
    </div>
</div>
