---

import ProjectCard from './ProjectCard.astro'
---

<div id="Projects" class="p-8 rounded-3xl shadow-2xl shadow-blue-200 transition-shadow duration-500 bg-gradient-to-br from-blue-50 via-blue-100 to-blue-200 animate-fade-in-up mt-10">
    <h3 class="text-4xl md:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-600 via-blue-400 to-blue-300 mb-8 animate-gradient-x">🚀 Proyectos</h3>
    <div>
        <ProjectCard />
    </div>
</div>