---
---

<div class="bg-white p-4 rounded-md shadow-sm hover:shadow-md transition-shadow duration-200">
    <h3 class="text-2xl md:text-2xl font-semibold text-gray-800 mb-2">💻 Technologies</h3>
    <!-- <p class="text-sm md:text-base text-gray-600">Specialized in modern web development</p> -->
    <ul class="grid grid-cols-2 gap-4">
        <li class="flex items-center gap-2 font-bold cursor-pointer hover:text-blue-400 transition-colors duration-300">
            <img src="https://img.icons8.com/color/48/000000/html-5--v1.png" alt="HTML5" class="w-8 h-8" />
            <span>HTML5</span>
        </li>
        <li class="flex items-center gap-2 font-bold cursor-pointer hover:text-blue-400 transition-colors duration-300">
            <img src="https://img.icons8.com/color/48/000000/css3.png" alt="CSS3" class="w-8 h-8" />
            <span>CSS3</span>
        </li>
        <li class="flex items-center gap-2 font-bold cursor-pointer hover:text-blue-400 transition-colors duration-300">
            <img src="https://img.icons8.com/color/48/000000/javascript--v1.png" alt="JavaScript" class="w-8 h-8" />
            <span>JavaScript</span>
        </li>
        <li class="flex items-center gap-2 font-bold cursor-pointer hover:text-blue-400 transition-colors duration-300">
            <img src="https://img.icons8.com/color/48/000000/react-native.png" alt="React" class="w-8 h-8" />
            <span>React</span>
        </li>
        <li class="flex items-center gap-2 font-bold cursor-pointer hover:text-blue-400 transition-colors duration-300">
            <img src="https://img.icons8.com/color/48/000000/nodejs.png" alt="Node.js" class="w-8 h-8" />
            <span>Node.js</span>
        </li>
        <li class="flex items-center gap-2 font-bold cursor-pointer hover:text-blue-400 transition-colors duration-300">
            <img src="https://img.icons8.com/color/48/000000/mongodb.png" alt="MongoDB" class="w-8 h-8" />
            <span>MongoDB</span>
        </li>
        <li class="flex items-center gap-2 font-bold cursor-pointer hover:text-blue-400 transition-colors duration-300">
            <img src="https://img.icons8.com/color/48/000000/firebase.png" alt="Firebase" class="w-8 h-8" />
            <span>Firebase</span>
        </li>
        <li class="flex items-center gap-2 font-bold cursor-pointer hover:text-blue-400 transition-colors duration-300">
            <img src="https://img.icons8.com/color/48/000000/git.png" alt="Git" class="w-8 h-8" />
            <span>Git</span>
        </li>

    </ul>
</div>
